<!DOCTYPE html>
<html>
  <head>
    <title>StudyRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <!--a class="nav-link active" href="#">Active</a-->
				<%= link_to "Home", root_path %>
      </li>&nbsp;&nbsp;
     <li class="nav-item">
        <!--a class="nav-link" href="#">Link</a-->
				<%= link_to "Search", search_coche_datos_path %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

  <body class="container">
    <%= yield %>
  </body>

<div class="footer">
	<center><h3 style="color: white;">Happy searching!</h3></center>
</div>
</html>
